* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


:root {
  --green-900: hsl(183, 100%, 15%);
  --green-400: hsl(172, 67%, 45%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
  --border-radius-default: 1.25rem;
}

@font-face {
  src: url("font/SpaceMono-Regular.ttf");
  font-family: "SpaceMono" ;
}

body {
  background-color: var(--grey-200);
  font-family: "SpaceMono", sans-serif;
  font-weight: bold;
}

h1 {
  margin: 9.375rem 0 4.688rem 0;
  text-align: center;
  color:var(--green-900);
  letter-spacing: 0.625rem;
}

main {
  background-color: var(--white);
  width: 45%;
  margin: 0 auto;
  padding: 2.188rem;
  display:flex;
  flex-direction: row;
  gap: 2.3rem;
  border-radius: var(--border-radius-default);
 
}

/* bill-container */
.bill-container {
  width: 50%;
  padding: 0.625rem 0;
  font-size: 0.813rem;
}


.number-people {
  font-size: 0.813rem;
}
.bill,
.number-people {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.bill div,
.number-people div {
  width: 100%;
  position: relative;
}

.bill div > div {
  display:flex;
}



.bill img, .number-people img {
  position:absolute;
  left:0.938rem;
  top:0.813rem;

}

.bill div:first-child,
.number-people div:first-child {
  display:flex;
  justify-content: space-between;

}

.bill div:first-child label, 
#bill-error-msg, 
#number-error-msg,
.number-people div:first-child label  {
  padding-bottom: 0.313rem;
  display:block;
  color:var(--grey-400);
}

#custom-error-msg {
  display:block;
  color:var(--grey-400);
  position:absolute;
}

#bill-error-msg,
#number-error-msg {
  display: none;
}
.tip {
  padding:2.188rem 0;
}

.tip > p {
  padding-bottom: 0.625rem;
  font-size: 0.813rem;
  color:var(--grey-400);
}

.tip-percentage {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.938rem;
}

.tip-percentage button {
  padding: 0.438rem 0;
  background-color: var(--green-900);
  color: var(--grey-50);
  border:none;
  border-radius: 0.375rem;
  font-size:1.125rem;
  font-family: "SpaceMono",sans-serif;
  font-weight:bold;

}

.activeBtn {
  background-color: var(--green-400) !important;
}

#custom-btn {
  padding: 0.438rem 0;
  background-color: var(--grey-50);
  color: var(--green-900);
  border: 0.125rem solid transparent;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  font-family: "SpaceMono", sans-serif;
  font-weight:bold;
  text-align: center;
  width:100%;
  height: 100%;
  
}


#bill-input, #people-input {
  padding: 0.313rem 0.938rem;
  background-color: var(--grey-50);
  border:none;
  border-radius: 0.375rem;
  text-align: right;
  font-size: 1.25rem;
  font-family: "SpaceMono", sans-serif;
  font-weight:bold;
  width:100%;
  border: 0.125rem solid transparent;
  color: var(--green-900);
}

/* result-container */
.result-container {
  width: 50%;
  background-color: var(--green-900);
  padding: 2.188rem;
  border-radius: var(--border-radius-default);
  color:var(--white);
}

.tip-amount, .total-amount {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.tip-amount:not(:first-child),
.total-amount:not(:first-child) {
  padding-top: 1.875rem;
  
}

.person {
  color: var(--grey-400);
}

.tip-amount > div:first-child,
.total-amount > div:first-child {
  font-size: 0.813rem;
}

.total-amount {
  padding-bottom: 7.5rem;
}

#tip-value,
#total-value {
  font-size:2.375rem;
  color: var(--green-400);
}

.reset-btn {
  width:100%;
  background-color: hsl(183, 79%, 24%);
  color:var(--green-900);
  border:none;
  padding: 0.625rem 0;
  border-radius: 0.375rem;
  cursor: not-allowed;
  font-weight:bold;
}

.reset-active {
  background-color:var(--green-400) !important;
  color: var(--green-900)!important;
  cursor: pointer !important;
}


/* Animation stuff, pseudo etc, */
.tip-percentage button:hover {
  cursor:pointer;
  background-color: var(--green-400);
  color: var(--green-900);
}

#bill-input:focus,
#people-input:focus,
#custom-btn:focus{
  outline:none;
  border: 0.125rem solid var(--green-400);
}

#bill-input:hover,
#people-input:hover,
#custom-btn:hover {
  cursor: pointer;
  border: 0.125rem solid var(--green-400);
}

#bill-input::placeholder, 
#people-input::placeholder,
#custom-btn::placeholder {
  color: var(--green-900);
}


/* Responsiveness */
@media (max-width: 1440px) {
  html {
    font-size: 15px;
  }

  main {
    width: 60%;
  }
}

@media (max-width: 1066px) {
  html {
    font-size: 14px;
  }

  main {
    width: 75%;
  }
}

@media (max-width: 886px) {
  html {
    font-size: 13px;
  }

  main {
    width: 95%;
  }
}

@media (max-width: 710px) {
  html {
    font-size: 12px;
  }

  main {
    width: 95%;
    padding: 1.188rem;
    gap: 1rem;
  }

  .total-amount {
    padding-bottom: 5.9rem;
  }

  .bill img,
  .number-people img {
    top: 0.513rem;
  }
}

@media (max-width: 566px) {
  html {
    font-size: 11px;
  }

  .result-container {
    padding: 1.188rem;
  }

  .reset-btn {
    padding: 0.325rem 0;
  }

  .bill img,
  .number-people img {
    top: 0.413rem;
  }

  .total-amount {
    padding-bottom: 7.3rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 11px;
  }

  main {
    width: 100%;
    flex-direction: column;
  }

  .bill-container,
  .result-container {
    width: 100%;
  }
}