* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --green-900: hsl(183, 100%, 15%);
  --green-400: hsl(172, 67%, 45%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
  --border-radius-default: 20px;

}

body {
  background-color: var(--grey-200);
  font-family: "SpaceMono", sans-serif;
}

@font-face {
  src: url("font/SpaceMono-Regular.ttf");
  font-family: "SpaceMono" ;
}

main {
  background-color: var(--white);
  width: 45%;
  margin: 150px auto;
  padding: 2.188rem;
  display:flex;
  flex-direction: row;
  gap: 2.3rem;
  border-radius: var(--border-radius-default);
 
}

/* bill-container */
.bill-container {
  width: 50%;
  padding: 10px 0;
  font-size: 13px;
  font-weight:bold;
}


.number-people {
  font-weight:bold;
  font-size: 13px;
}
.bill,
.number-people {
  display:flex;
  flex-direction: column;
}

.bill > label, .number-people > label  {
  padding-bottom: 5px;
  color:var(--grey-400);
}

.tip {
  padding:35px 0;
}

.tip > p {
  padding-bottom: 10px;
  font-size: 13px;
  font-weight:bold;
   color:var(--grey-400);
}

.tip-percentage {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.tip-percentage button {
  padding: 7px 0;
  background-color: var(--green-900);
  color: var(--grey-50);
  border:none;
  border-radius: 6px;
  font-size:18px;
  font-family: "SpaceMono",sans-serif;
}
.tip-percentage button:last-of-type {
  background-color:transparent;
  background-color: var(--grey-50);
  color: var(--green-900);
}

#bill-input, #people-input {
  padding: 5px;
  background-color: var(--grey-50);
  border:none;
  border-radius: 6px;
  text-align: right;
  font-size: 20px;
  font-family: "SpaceMono", sans-serif;
}

/* result-container */
.result-container {
  width: 50%;
  background-color: var(--green-900);
  padding: 35px;
  border-radius: var(--border-radius-default);
  color:var(--white);
}

.tip-amount, .total-amount {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.tip-amount:not(:first-child),
.total-amount:not(:first-child) {
  padding-top: 30px;
  
}

.person {
  color: var(--grey-400);
}

.tip-amount > div:first-child,
.total-amount > div:first-child {
  font-size: 13px;
  font-weight:bold;
}

.total-amount {
  padding-bottom: 120px;
}

.tip-value,
.total-value {
  font-size:xx-large;
  color: var(--green-400);
  font-weight:bolder;
}

.reset-Btn {
  width:100%;
  background-color: hsl(183, 79%, 24%);
  color:var(--green-900);
  border:none;
  padding: 10px 0;
  border-radius: 6px;
}
